body {
    background-color: rgb(70, 68, 68);
    color: white;
    margin: 0;
    padding: 0;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
}
.nav-branding{
    font-size: 2rem;
}
.container{
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

ion-icon {
    color: rgb(234, 234, 240);
}

